@model kss_ERPSucursal_WebControl.Models.world_Paises

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>world_Paises</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.x)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.x)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.y)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.y)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.world_Idiomas.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.world_Idiomas.codigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_World_Paises }) |
    @Html.ActionLink("Back to List", "Index")
</p>
